body{
background-image: url(../Images/swamp.gif);
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header h1 {
    margin: 0;
    display: inline;
    color: white;
    font-family: sans-serif;
    font-size: 25px
}
ul li {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    position: absolute;
    left: 600px;
    top: 50px;

}

ul li a {
    color: orange;
    padding: 0 12px 0 12px;
    font-family: sans-serif;
}

body p {
    color: orange;
}

